# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Environment
# -------------------------
.env

# -------------------------
# Database
# -------------------------
*.db

# -------------------------
# Models (large files)
# -------------------------
models/

# -------------------------
# Notebooks
# -------------------------
notebooks/

# -------------------------
# Editor
# -------------------------
.vscode/

# -------------------------
# OS files
# -------------------------
.DS_Store

# -------------------------
# Unnecessary scripts
# -------------------------
get-pip.py